* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.game-board {
    width: 100%;
    height: 100%;
    border-bottom: solid 15px rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {

    position: absolute;
    bottom: 0;
    width: 80px;

}

.posicaoInicialcano {
    left: 100%;
}

.inimacaoCano {
    animation: pipe-animation 1.5s infinite linear;
    
}

.hide {
    display: none;
}


.mario {
    width: 150px;
    position: absolute;
    bottom: 0;

}

.gameHolver{
    color: white;
    font-size: 1.5rem;
}

.botaoStar {

  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: nome;
  padding: 1rem;
  position: absolute;
  left: 730px;
  top: 50vh;
  cursor: pointer;
}
.reiniciar{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: nome;
    padding: 1rem;
    position: absolute;
    left: 710px;
    top: 50vh;
    cursor: pointer;
}

.reiniciaranimação{
    animation: pipe-animation 1.5s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-Animation 10s infinite;
}

.left{

    left: 119px;
}


.right{
    right: -80px;
}

.pontos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 750px;
    color: white;
    border:solid 2px yellow;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

@keyframes pipe-animation {

    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}


@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {

        bottom: 180px;

    }


    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-Animation {

    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}